---
layout: base
---
<article
    class="h-entry article" 
    role="article" 
    itemscope 
    itemtype="http://schema.org/BlogPosting">
    <header>
        <h1 class="p-name article-title" itemprop="headline">{{ title }}</h1>
        {% if summary %}
            <p class="p-summary lead" itemprop="description">{{ summary }}</p>
        {% endif %}
    </header>
    <section class="e-content" itemprop="articleBody">
        {{ content | safe }}
    </section>
    <footer class="article-metadata">
        <p>
            <span rel="author" class="h-card p-author" itemprop="author" itemprop="publisher" itemscope itemtype="https://schema.org/Person">Publicado por
            <a class="u-url" rel="me" href="{{ info.site }}">
                <img style="display: inline; width:12px" class="u-photo" src="/midias/icons/minha-foto.avif" alt="{{ info.site }}">
                <span itemprop="name">{{ author }}</span>
            </a>
            </span>
            em <span class="dt-published"  itemprop="datePublished">
                <time  datetime="{{ page.date }}">{{ page.date | formatdata }}</time></span>
        </p>
        {% if keys %}
        <p>Palavras chaves: 
            {% for key in keys %}
            <span>&nbsp;-&nbsp;{{ key }}</span> 
            {% endfor %}
        </p>
        {% endif %}
        <p>
            <span>URL:</span><input class="u-url permalink" id="urlacopiar" type="text" value="{{ info.site }}{{ page.url }}">
            <button id="botaocopiar1">Copiar</button>
        </p>
    </footer>
</article>