{% if coding == 1 %}
        <link defer rel="stylesheet" href="/estaticos/estilos/prism.css">
        <script defer src="/estaticos/scripts/prism.js"></script>
        {% endif %}
    
        {% if lite-youtube == 1 %}
        <link defer rel="stylesheet" href="/estaticos/estilos/lite-yt-embed.css" />
        <script defer src="/estaticos/scripts/lite-yt-embed.js"></script>
        {% endif %}
    
        {% if lite-vimeo == 1 %}
        <script defer src="/estaticos/scripts/video-vimeo.js"></script>
        <script defer src="/estaticos/scripts/copyurl.js"></script>
        {% endif %}
    
        {% if playerx  == 1 %}
        <script defer src="/estaticos/scripts/playerx.js"></script>
        {% endif %}