---
layout: base
---
<article class="article h-entry" itemtype="https://schema.org/WebPage">
    <header>
        <h1 class="p-name" itemprop="name">{{ title }}</h1>
        {% if page.summary %}
            <p class="p-summary" itemprop="description">{{ page.summary }}</p>
        {% endif %}
    </header>
    <section class="e-content">
        {{ content | safe }}
    </section>
    <footer class="article-metadata">
        <p>
            <span 
                rel="author"
                class="h-card p-author"
                itemprop="author"
                itemprop="publisher"
                itemscope
                itemtype="https://schema.org/Person">
                Publicado por
                <a class="u-url"
                   rel="me"
                   href="{{ info.site }}">
                    <img 
                        style="display: inline; width:12px"
                        class="u-photo"
                        src="/midias/icons/minha-foto.avif"
                        alt="{{ info.site }}">
                    <span 
                        itemprop="name">
                            {{ author }}
                    </span>
                </a>
            </span>
            em <span class="dt-published"  itemprop="datePublished">
                <time  datetime="{{ page.date }}">{{ page.date | formatdata }}</time></span>
        </p>
    </footer>
</article>